<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>com.travel_agency.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>session-locale-filter</filter-name>
        <filter-class>com.travel_agency.filters.SessionLocaleFilter</filter-class>
        <init-param>
            <param-name>baseLanguage</param-name>
            <param-value>ua</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>session-locale-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>com.travel_agency.filters.AuthCheckFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/user-cabinet.jsp</url-pattern>
        <url-pattern>/makeOrder</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>offer-list-filter</filter-name>
        <filter-class>com.travel_agency.filters.OfferListFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>offer-list-filter</filter-name>
        <url-pattern>/our-offer.jsp</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>offer-item-filter</filter-name>
        <filter-class>com.travel_agency.filters.OfferItemFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>offer-item-filter</filter-name>
        <url-pattern>/offer.jsp</url-pattern>
        <url-pattern>/update-offer.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>types-offer-filter</filter-name>
        <filter-class>com.travel_agency.filters.TypesOfferFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>types-offer-filter</filter-name>
        <url-pattern>/update-offer.jsp</url-pattern>
        <url-pattern>/add-offer.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>user-cabinet-filling-filter</filter-name>
        <filter-class>com.travel_agency.filters.UserCabinetFillingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>user-cabinet-filling-filter</filter-name>
        <url-pattern>/user-cabinet.jsp</url-pattern>
        <url-pattern>/orderPagination</url-pattern>
        <url-pattern>/userPagination</url-pattern>
    </filter-mapping>
</web-app>